.products {
    width: 100%;
}

.products ul {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px,
            1fr
        )
    );
    gap: 1rem;
}

.products li {
    display: flex;
    flex-direction: column;
}