#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  /* text-align: center; */
  
  height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
}
